* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101010;
}

p {
  padding: 50px 0px;
  color: transparent;
  font: 900 100px "helvetica", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 20px;
  letter-spacing: -4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #feac5e, #c779d0, #4bc0c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: movingGradient 6s ease infinite;
  background-size: 150% 100%;
}

@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
